{% assign shop_footer_linklist = linklists[section.settings.shop-footer].links %}
{% assign about_footer_linklist = linklists[section.settings.about-footer].links %}


<div class="bg-[#fbc00d]/90 text-black pb-10">
{% comment %} Back to Top Button {% endcomment %}
             <div class="flex justify-center items-center">
                <button 
                    type="button"
                    class="flex items-center justify-center underline cursor-pointer mt-10 font-semibold opacity-60 "
                    onclick="scrollToTop()"
                >
                    Back to top
                    <span class="mt-1 mx-1">
                        {% render 'icon-chevron-up' %}
                    </span>
                </button>
             </div>
    <div class="max-w-6xl grid grid-cols-1 md:grid-cols-3 py-10 px-12 justify-center mx-auto space-y-5">
        {% comment %} Store Logo/Social Icons {% endcomment %}
         <div class="flex flex-col items-center">
    
            <div class="flex flex-row">
                <h1 class="text-black font-bold uppercase flex items-center">
                    Join the <span class="px-2">
                                        <a href="/pages/contact-us" class="text-xl font-bold truncate">
                                            <img src="{{ "gilli_logo.png" |  asset_url }}  " alt="{{ shop.name }}" class="h-12 w-20">
                                         </a>
                                    </span>family
                    

                </h1>
                
            </div>
            
            <ul class="flex space-x-2 mt-4">
                <li>
                    <a href="https://www.facebook.com/p/Ggsauthentic-100063679520703/?paipv=0&eav=AfY9lGuMe8DrG0BCYhDQLCXjnCKvK3OKq8v3T54ugrNowIy3uKrv612HSMFqykmNC1Q&_rdr" target="_blank">
                    {% render 'icon-facebook' %}
                </a>
                </li>
                <li>
                     <a href="https://x.com/ggsauthentic" target="_blank">
                    {% render 'icon-twitter' %}
                </a>
                </li>
               <li>
                <a href="https://www.instagram.com/ggsauthentic/" target="_blank">
                    {% render 'icon-instagram' %}
                </a>
               </li>
               <li>
                <a href="https://www.tiktok.com/@ggsauthentic" target="_blank">
                    {% render 'icon-tiktok' %}
                </a>
               </li>
            </ul>
         </div>
         {% comment %} Shop {% endcomment %}
        <div class="mx-auto">
            <h1 class="text-lg font-semibold text-black">
                Shop
            </h1>
            <nav>
               {% for link in linklists.shop-footer.links %}
                    <div class="relative py-1">
                        <a href="{{ link.url }}" class=" uppercase text-sm font-md text-gray-900 hover:text-gray-500 hover:underline hover:underline-offset-4">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </nav>
        </div>
        {% comment %} About {% endcomment %}
        <div class="mx-auto">
            <h1 class="text-lg font-semibold text-black">
                About
            </h1>
            <nav>
                {% for link in linklists.about-footer.links %}
                    <div class="relative py-1">
                        <a href="{{ link.url }}" class=" uppercase text-sm font-md text-gray-900 hover:text-gray-500 hover:underline hover:underline-offset-4">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </nav>
        </div>     
    </div>
     {% comment %} Email {% endcomment %}
        {% comment %} Payment Options {% endcomment %}
        {% comment %} Copyright {% endcomment %}
        <div class="flex flex-col items-center justify-center space-y-3 ">
            <h2 class="text-black w-1/2 text-center">Get the news first on exclusive offers and product launches!</h2>
            {% form 'contact' %}
                <section class="flex flex-col  items-center justify-center space-x-3 w-full">
                    <input type="hidden" name="form_type" value="customer">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="email" name="contact[email]" id="contact_email" placeholder="Please enter your email" class="w-7/8 border border-gray-800 bg-transparent rounded-md px-5 py-2 text-black placeholder-black font-extralight" required>
                    <button type="submit" class="my-3 px-2 py-1 rounded-lg border border-[#fbc00d] shadow-lg bg-black text-[#fbc00d]">Submit</button>
                </section>
{% endform %}
                <div class="flex flex-col space-y-5 md:space-y-0 md:flex-row items-center justify-between w-3/4">
                    <div id="footer-awards" class="flex items-center justify-center space-x-2">
                        <img src="{{ "great-taste.png" |  asset_url }}  " alt="Great Taste Award" class="h-20 w-20">
                        <img src="{{ "fine-food-guild.png" |  asset_url }}  " alt="Guild of Fine Food Member" class="h-20 w-20">
                    </div>
{% comment %} 
                    <div>
                        <button type="button" class="flex justify-center items-center uppercase border border-gray-900 px-3 py-1 rounded-lg">
                            <a href="##">
                                Back to the top
                                
                               
                            </a>
                        </button>
                    </div> {% endcomment %}

                    <div id="footer-payments">
                        <ul class="flex space-x-2 items-center">
                            <li>{% render 'icon-amex' %}</li>
                            <li>{% render 'icon-applepay' %}</li>
                            <li>{% render 'icon-googlepay' %}</li>
                            <li >{% render 'icon-mastercard' %}</li>
                            <li>{% render 'icon-paypal' %}</li>
                            <li>{% render 'icon-venmo' %}</li>
                            <li >{% render 'icon-visa' %}</li>
                        </ul>
                        <div class="flex flex-col justify-center items-center">
                            <p class="text-[14px] text-gray-800">
                                &copy; 2024, GGsauthentic
                            </p>
                        </div>
                    </div>
                </div>
                </div>
   
            
</div>


  <script>
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>



