
<div class="__pf_password">
    <a href="#" class="__pf_password-btn">{{ 'pagefly.password_page.password_link' | t }}</a>

    <div class="__pf_password-form">
        {% form "storefront_password" %}
        {{ form.errors | default_errors }}
        <p>{{ 'pagefly.password_page.login_form_message' | t }}</p>
        <div>
            <input type="password" name="password" placeholder="{{ 'pagefly.password_page.login_form_password_placeholder' | t }}">
            <input type="submit" value="{{ 'pagefly.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}

        <span class="__pf_password-form--close"></span>
    </div>

    <style>
        .__pf_password-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #000;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            z-index: 100;
            color: #fff;
        }
        .__pf_password-btn:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: #222;
        }
        .__pf_password-form {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            top: 0;
        }
        .__pf_password-form form {
            max-width: 100%;
            background: #fff;
            padding: 30px 20px;
            border-radius: 2px;
            width: 480px;
            text-align: center;
        }
        .__pf_password-form form > div {
            position: relative;
        }
        .__pf_password-form form p {
            color: #000;
            font-size: 18px;
            margin: 0 0 20px;
        }
        .__pf_password-form form label {
            margin-bottom: 10px;
        }
        .__pf_password-form input[type="password"] {
            border: 1px solid #bfbfbf;
            outline: 0;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            width: 100%;
        }
        .__pf_password-form input[type="submit"] {
            position: absolute;
            height: 42px;
            min-height: initial;
            line-height: 1;
            padding: 0 20px;
            background: #000;
            color: #fff;
            top: 4px;
            right: 4px;
            border-radius: 2px;
            -webkit-appearance: none;
            outline: 0;
            border: 0;
            width: fit-content;
        }
        .__pf_password-form input[type="submit"]:hover {
            opacity: .8;
        }
        .__pf_password-form--close {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .__pf_password-form--close:before,
        .__pf_password-form--close:after {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 24px;
            left: 11px;
        }
        .__pf_password-form--close:before {
            transform: rotate(45deg);
        }
        .__pf_password-form--close:after {
            transform: rotate(-45deg);
        }
    </style>

    <script>
        window.addEventListener("load", function() {
            document.querySelector(".__pf_password-btn").addEventListener("click", function() {
                document.querySelector(".__pf_password-btn").style.display = "none";
                document.querySelector(".__pf_password-form").style.display = "flex";
            });
            document.querySelector(".__pf_password-form--close").addEventListener("click", function() {
                document.querySelector(".__pf_password-form").style.display = "none";
                document.querySelector(".__pf_password-btn").style.display = "initial";
            });
            if ( document.querySelectorAll(".errors").length ) {
                document.querySelector(".__pf_password-btn").click();
            }
        });
    </script>
</div><div class="sc-hknPuZ htdnki __pf __pf_Xudlb9Kc" id="__pf"><div data-pf-type="Body" class="sc-bDoQz ePRCXj pf-4_"><div data-pf-type="Layout" class="sc-gdyfxU kaVeqo pf-5_"><div data-section-id="pf-3228" data-pf-type="Section" class="sc-cVzzKN jdAbCJ pf-6_ pf-color-scheme-1 pf-bg-lazy"><div style="--cw:1170px" class="sc-YysaK jCVJYo"><div class="sc-dhKdPU hjOBND pf-7_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bVHBsO cYbKeb pf-8_"><div data-pf-type="Block" class="sc-kzqdYt kOLxBk pf-9_"><h3 data-pf-type="Heading2" class="sc-kAkozD kgiAhT pf-10_ pf-heading-1-h3">Opening Soon</h3><p class="sc-gFVuLS jpmtwg pf-12_ pf-text-1" data-pf-type="Paragraph3">We will be ready soon.&nbsp;<br>While you wait sign up for 20% off as soon as the website is ready<br></p><div data-pf-type="Form2" class="sc-bSiGZQ iMGbOL pf-14_">{% form "customer"   %} {% assign isErrorMessaageDisplayed = false %}{% for field in form.errors %}
				{% if field == "form" %}<p class="sc-eTqMOj bRPfnm">Sorry, the submission can not be sent! Please try again later!</p>{{ form.errors.messages[field] }}
				{% endif %}
				{% if form.errors.messages[field] contains "can't be blank." %}<p class="sc-eTqMOj bRPfnm">Field can not be blank</p>{% else %}{% if isErrorMessaageDisplayed == false %}<p class="sc-eTqMOj bRPfnm">Sorry, the submission can not be sent! Please try again later!</p> {% assign isErrorMessaageDisplayed = true %}{% endif %}{% endif %}
				{% endfor %}
				{% if form.posted_successfully? %}<p class="sc-eTqMOj bRPfnm">Thank you for your submissions!</p>{% elsif form.posted_successfully? == false and form.email.size > 0 and form.errors == null  %}<p class="sc-eTqMOj bRPfnm">Sorry, the submission can not be sent! Please try again later!</p>{% endif %}<div class="sc-dhKdPU hjOBND pf-15_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bVHBsO cYbKeb pf-16_"><div data-pf-type="Form2.Field" class="sc-cHMHbD jAFCrM pf-17_"><input name="contact[email]" type="email" placeholder="Enter your mail" required="" data-pf-type="FormInput" id="field-81ae77d8" class="sc-fIGKkh kwSmup pf-19_" value=""/></div><button type="submit" data-pf-type="Form2.Button2" class="sc-kufjOW gvpdbE pf-20_ pf-button-1 animate-grow">Subscribe</button></div></div></div>{% endform %}</div><div data-pf-type="Block" class="sc-kzqdYt kOLxBk pf-22_"><i class="sc-bBeLha fpGCue pf-23_ pf-icon-1 pfa-brands pfa-facebook" data-href="https://www.facebook.com/" data-target="_self" data-pf-type="Icon"></i><i class="sc-bBeLha fpGCue pf-24_ pf-icon-1 pfa-brands pfa-instagram" data-href="https://www.instagram.com/" data-target="_self" data-pf-type="Icon"></i><i class="sc-bBeLha fpGCue pf-25_ pf-icon-1 pfa-brands pfa-twitter" data-href="https://twitter.com/?lang=en" data-target="_self" data-pf-type="Icon"></i><i class="sc-bBeLha fpGCue pf-26_ pf-icon-1 pfaV4 pfaV4-youtube-play" data-href="https://www.youtube.com/" data-target="_self" data-pf-type="Icon"></i></div></div></div></div></div><div class="sc-dhKdPU hjOBND pf-27_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bVHBsO cYbKeb pf-28_"><div data-pf-type="Custom.HTML" class="sc-iMWBWc brhmIY pf-29_"><div class="password-page">
  <h1>Enter Store Using Password:</h1>
  <form method="post" action="/password">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password" required>
    <button type="submit">Enter</button>
  </form>
  <p>Enter using password</p>
</div></div></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Password Page","pageType":"password","pageId":"388a9f5c-727f-4fd6-bc53-17608dc79fa3","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.14.6","shopDomain":"cucumber-mango.myshopify.com","elementData":{},"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.14.6/core/helper.js" defer></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://cucumber-mango.myshopify.com/admin/apps/pagefly/editor?id=388a9f5c-727f-4fd6-bc53-17608dc79fa3&type=password)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}