
<div class="__pf_password">
    <a href="#" class="__pf_password-btn">{{ 'pagefly.password_page.password_link' | t }}</a>

    <div class="__pf_password-form">
        {% form "storefront_password" %}
        {{ form.errors | default_errors }}
        <p>{{ 'pagefly.password_page.login_form_message' | t }}</p>
        <div>
            <input type="password" name="password" placeholder="{{ 'pagefly.password_page.login_form_password_placeholder' | t }}">
            <input type="submit" value="{{ 'pagefly.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}

        <span class="__pf_password-form--close"></span>
    </div>

    <style>
        .__pf_password-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #000;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            z-index: 100;
            color: #fff;
        }
        .__pf_password-btn:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: #222;
        }
        .__pf_password-form {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            top: 0;
        }
        .__pf_password-form form {
            max-width: 100%;
            background: #fff;
            padding: 30px 20px;
            border-radius: 2px;
            width: 480px;
            text-align: center;
        }
        .__pf_password-form form > div {
            position: relative;
        }
        .__pf_password-form form p {
            color: #000;
            font-size: 18px;
            margin: 0 0 20px;
        }
        .__pf_password-form form label {
            margin-bottom: 10px;
        }
        .__pf_password-form input[type="password"] {
            border: 1px solid #bfbfbf;
            outline: 0;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            width: 100%;
        }
        .__pf_password-form input[type="submit"] {
            position: absolute;
            height: 42px;
            min-height: initial;
            line-height: 1;
            padding: 0 20px;
            background: #000;
            color: #fff;
            top: 4px;
            right: 4px;
            border-radius: 2px;
            -webkit-appearance: none;
            outline: 0;
            border: 0;
            width: fit-content;
        }
        .__pf_password-form input[type="submit"]:hover {
            opacity: .8;
        }
        .__pf_password-form--close {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .__pf_password-form--close:before,
        .__pf_password-form--close:after {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 24px;
            left: 11px;
        }
        .__pf_password-form--close:before {
            transform: rotate(45deg);
        }
        .__pf_password-form--close:after {
            transform: rotate(-45deg);
        }
    </style>

    <script>
        window.addEventListener("load", function() {
            document.querySelector(".__pf_password-btn").addEventListener("click", function() {
                document.querySelector(".__pf_password-btn").style.display = "none";
                document.querySelector(".__pf_password-form").style.display = "flex";
            });
            document.querySelector(".__pf_password-form--close").addEventListener("click", function() {
                document.querySelector(".__pf_password-form").style.display = "none";
                document.querySelector(".__pf_password-btn").style.display = "initial";
            });
            if ( document.querySelectorAll(".errors").length ) {
                document.querySelector(".__pf_password-btn").click();
            }
        });
    </script>
</div><style>.password-message button,.password-page button{background-color:#333;color:#fff;cursor:pointer}.password-message{text-align:center;margin-bottom:40px}.password-message .store-logo{width:150px;margin-bottom:10px}.password-message .store-name{font-size:1.5em;margin-bottom:20px}.password-message h1{font-size:2em;margin-bottom:20px}.password-message p{font-size:1em;margin-bottom:20px}.password-message .email-form{display:inline-block;max-width:400px;width:100%;padding:10px}.password-message input[type=email]{padding:10px;border:2px solid #000;border-radius:6px;width:70%;margin-right:10px;box-sizing:border-box}.password-message button{padding:10px;border:2px solid #000;border-radius:6px;width:25%;box-sizing:border-box}.password-message button:hover,.password-page button:hover{background-color:#555}.password-page{text-align:center;padding:20px}.password-page form{display:inline-block;padding:20px}.password-page button,.password-page input[type=password]{padding:10px;margin-top:10px;width:100%;box-sizing:border-box}.password-page button,.password-page input[type=password]{border:2px solid #000;border-radius:6px}</style><div class="sc-hknPuZ htdnki __pf __pf_Xudlb9Kc" id="__pf"><div data-pf-type="Body" class="sc-bDoQz ePRCXj pf-4_"><div data-pf-type="Layout" class="sc-gdyfxU kaVeqo pf-5_"><div data-section-id="pf-3228" data-pf-type="Section" class="sc-cVzzKN jdAbCJ pf-6_ pf-color-scheme-1 pf-bg-lazy"><div style="--cw:1170px" class="sc-YysaK jCVJYo"><div class="sc-dhKdPU hjOBND pf-33_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bVHBsO cYbKeb pf-32_"></div></div></div><div class="sc-dhKdPU hjOBND pf-7_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bVHBsO cYbKeb pf-8_"><div data-pf-type="Custom.HTML" class="sc-iMWBWc brhmIY pf-31_"><div class="password-message">
  <h1>Coming Soon</h1>
  <p>Sign up to be notified when we launch and receive 20% off your first order!</p>
  <form class="email-form" method="post" action="/newsletter">
    <input type="email" id="email" name="email" placeholder="Enter your email" required>
    <button type="submit">Notify Me</button>
  </form>
</div></div></div></div></div><div class="sc-dhKdPU hjOBND pf-27_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bVHBsO cYbKeb pf-28_"><div data-pf-type="Custom.HTML" class="sc-iMWBWc brhmIY pf-29_"><div class="password-page">
  <h1>Enter Store Using Password:</h1>
  <form method="post" action="/password">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password" required style="padding: 10px; border: 2px solid #000;">
    <button type="submit">Enter</button>
  </form>
  <p>Enter using password</p>
</div></div></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Password Page","pageType":"password","pageId":"388a9f5c-727f-4fd6-bc53-17608dc79fa3","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.14.6","shopDomain":"cucumber-mango.myshopify.com","elementData":{},"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.14.6/core/helper.js" defer></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://cucumber-mango.myshopify.com/admin/apps/pagefly/editor?id=388a9f5c-727f-4fd6-bc53-17608dc79fa3&type=password)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}