<div class="bg-black text-white w-full" id="reviews-section">
    <div class="py-20 max-w-6xl flex flex-col space-y-3 mx-auto">
        <h1 class="text-2xl text-center uppercase font-bold tracking-wide">
            Genuine reviews
        </h1>
        <h2 class="text-3xl text-center uppercase font-normal tracking-wide">
            From genuine customers
        </h2>
       
                    <!-- Start of Judge.me code --> 
        <div class='jdgm-carousel-wrapper'> 
          {% assign jm_metafields = shop.metafields.judgeme %} 
          <div class='jdgm-carousel-title-and-link'> 
            <h2 class='jdgm-carousel-title text-gray-400'>Let customers speak for us</h2> 
            <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'> 
              <span style='display:block' data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span> 
              <span style='display: block; color: #9ca3af;'class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'> 
                from {{ shop.metafields.judgeme.all_reviews_count }} reviews 
              </span> 
            </span> 
          </div> 
          {{ jm_metafields.featured_carousel }} 
        </div> 
        <!-- End of Judge.me code -->
          <div class="flex flex-col md:flex-row items-center space-y-6 md:space-y-0 justify-evenly my-3 p-5">
            <a href="/products/cucumber-mango-hot#judgeme_product_reviews">
            <button type="button" class="border border-white rounded-2xl py-1 px-4 hover:text-[#818589] hover:border-[#818589]">
              Cucumber & Mango reviews
            </button>
            </a>  
            <a href="/products/mango-mild#judgeme_product_reviews">
            <button type="button" class="border border-white rounded-2xl py-1 px-4 hover:text-[#818589] hover:border-[#818589]">
              Mango reviews
            </button>
            </a>
            <a href="/products/pineapple-xtra-hot-1#judgeme_product_reviews">
            <button type="button" class="border border-white rounded-2xl py-1 px-4 hover:text-[#818589] hover:border-[#818589]">
              Pineapple reviews
            </button>
            </a>
            <a href="/products/marinade-spicy#judgeme_product_reviews">
              <button type="button" class="border border-white rounded-2xl py-1 px-4 hover:text-[#818589] hover:border-[#818589]">
                Marinade reviews
              </button>
            </a>
      </div>
      </div>
     
                
  </div>
        
        
    </div>

</div>
    