<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
    .swiper-button-prev, .swiper-button-next { color: black; top: auto !important; height: 20px; }
    .swiper-button-prev::after, .swiper-button-next::after { font-size: 20px; }
    .swiper-pagination { color: black; bottom: 0 !important; }
    .swiper-pagination-bullet-active { background: black !important; }
    .product--information { height: fit-content; }
     .variant-label {
            display: inline-block;
            border: 1px solid #ccc;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }
        
        .variant-label:hover {
            background-color: #fbc00d;
            opacity: 0.8;
        }

        .variant-label input[type="radio"]:checked + .variant-text {
            background-color: #fbc00d;
            color: black;
            border-radius: 10px;
        }
        .variant-text {
            display: block;
            font-size: medium;
            font-weight: 700;
            padding: 6px 12px;
            }
</style>

<div class=" mx-auto my-8 md:mt-8 sm:mb-0" x-data="{ showMoreInfo: false }">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="product--medias">
            <div class="hidden md:block bg-[#a7c248]/80">
                {% for media in product.media %}
                    <div class="h-100 overflow-hidden p-2">
                        {% render 'product-media', media: media %}
                    </div>
                {% endfor %}
            </div>

            <div class="md:hidden">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for media in product.media %}
                            <div class="swiper-slide">
                                <div class="h-[100vw] overflow-hidden p-2">
                                    {% render 'product-media', media: media %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        <div class="product--information sticky top-5 p-2">
            {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
                <input type="hidden" name="id" value="{{ selected_variant.id }}">

                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'vendor' %}
                            <div class="my-3">
                                <span class="uppercase text-xs text-gray-500">{{ product.vendor }}</span>
                            </div>
                        {% when 'title' %}
                            <div class="my-3">
                                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
                            </div>
                            
                            <div class="my-3">
                                <!-- Start of Judge.me code --> 
                                <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
                                    {{ product.metafields.judgeme.badge }} 
                                </div> 
                                <!-- End of Judge.me code -->

                            
                            </div>
                        {% when 'price' %}
                            <div class="my-3 font-bold" id="price-{{ section.id }}">
                                <span class="text-base text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>
                                <span class="text-2xl text-gray-900">{{ selected_variant.price | money }}</span>

                                {% if selected_variant.price < selected_variant.compare_at_price %}
                                    <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                                {% endif %}
                            </div>
                        {% when 'variant_selector' %}
                                <div class="my-3">
                                    {% unless product.has_only_default_variant %}
                                        <variant-selector data-url="{{ product.url}}" data-section="{{ section.id }}">
                                            {% for option in product.options_with_values %}
                                                <div class="my-3">
                                                    <div class="variant-options">
                                                        {% for value in option.values %}
                                                            <label 
                                                                for="Option-{{ section.id }}-{{ forloop.index0 }}-{{ value | escape }}" 
                                                                class="variant-label"
                                                            >
                                                                <input 
                                                                    type="radio" 
                                                                    name="options[{{ option.name | escape }}]" 
                                                                    id="Option-{{ section.id }}-{{ forloop.index0 }}-{{ value | escape }}" 
                                                                    value="{{ value | escape }}"
                                                                    {% if option.selected_value == value %}
                                                                        checked
                                                                    {% endif %}
                                                                    onclick="this.closest('variant-selector').onVariantChange();"
                                                                    hidden
                                                                >
                                                                <span class="variant-text">{{ value }}</span>
                                                            </label>
                                                        {% endfor %}
                                                    </div>

                                                    <script type="application/json">
                                                        {{ product.variants | json }}
                                                    </script>
                                                </div>
                                            {% endfor %}
                                        </variant-selector>
                                    {% endunless %}
                                </div>
                                        {% when 'checkout_buttons' %}
                            <div class="my-3">
                                <button type="submit" name="add" class="w-1/2 px-6 py-4 bg-[#ff3232] text-white uppercase  font-bold  tracking-wide text-xl hover:bg-opacity-70 rounded-2xl my-2"
                                    {% if selected_variant.available == false %}
                                        disabled
                                    {% endif %}
                                >
                                    {% if selected_variant.available == false %}
                                        Sold out
                                    {% else %}
                                        Add to cart
                                    {% endif %}
                                </button>
                            </div>
                            
                        {% when 'quantity' %}
                            <div class="my-3">
                            <label for="Quantity-{{ section.id }}">Quantity</label>

                            <div class="my-2 flex items-center justify-center w-1/4">
                                <button 
                                    type="button" 
                                    class="  text-gray-900 font-bold text-lg h-9 w-9 rounded-full border-2 flex items-center justify-center border-black opacity-85 hover:border-gray-400" 
                                    onclick="changeQuantity(-1)"
                                >
                                    -
                                </button>
                                <input 
                                    type="number" 
                                    name="quantity" 
                                    id="Quantity-{{ section.id }}" 
                                    value="1" 
                                    min="1" 
                                    class="w-1/2 py-3 text-center text-4xl font-semibold bg-transparent"
                                    readonly
                                >
                                <button 
                                    type="button" 
                                    class="  text-gray-900 font-bold  text-lg h-9 w-9 rounded-full border-2 flex items-center justify-center border-black opacity-85 hover:border-gray-400" 
                                    onclick="changeQuantity(1)"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                        {% when 'description' %}
                            <div class="my-3">
                                {% if product.description contains '<!--SPLIT-->' %}
                                    <p class="text-gray-700 ">{{ product.description | split: '<!--SPLIT-->' |  first}}</p>
                                    <button
                                        type="button" 
                                        class="flex items-center justify-center underline  py-2 rounded-lg text-md font-semibold cursor-pointer mt-4 opacity-80"
                                        x-on:click="showMoreInfo = true"
                                        x-show="!showMoreInfo"
                                    >
                                        Read more 
                                        <span class="mt-1 mx-1">
                                            {% render 'icon-chevron-down' %}
                                        </span>
                                    </button>
                                    <!-- Hidden div for more info -->
                                    <div
                                        class="text-gray-700 mt-2" 
                                        x-show="showMoreInfo" 
                                        x-on:click.away="showMoreInfo = false"
                                        x-transition 
                                    >
                                        <hr>
                                        {{ product.description | split: '<!--SPLIT-->' | last }}
                                        <button 
                                            type="button"
                                            class="flex items-center justify-center underline cursor-pointer mt-2 font-semibold opacity-80" 
                                            x-on:click="showMoreInfo = false"
                                        >
                                            See less
                                            <span class="mt-1 mx-1">
                                            {% render 'icon-chevron-up' %}
                                        </span>
                                        </button>
                                 </div>
                                 {% else %}
                                    <p class="text-gray-700 ">{{ product.description}}</p>
                                {% endif %}
                                
                            </div>
                                
                      
                        {% else %}
                            
                    {% endcase %}
                {% endfor %}
            {% endform %}
        </div>
    </div>
</div>


<script>
    class VariantSelector extends HTMLElement {
        constructor() {
            super();
            this.addEventListener("change", this.onVariantChange);
        }

        onVariantChange() {
            this.getSelectedOptions();
            this.getSelectedVariant();

            if(this.currentVariant) {
                this.updateURL();
                this.updateFormID();
                this.updatePrice();
            }
        }

        getSelectedOptions() {
            this.options = Array.from(this.querySelectorAll('input[type="radio"]:checked'), (radio) => radio.value);
            console.log(this.options);
        }

        getVariantJSON() {
            this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
            return this.variantData;
        }

        getSelectedVariant() {
            this.currentVariant = this.getVariantJSON().find(
                (variant) => {
                    const findings = !variant.options.map(
                        (option, index) => {
                            return this.options[index] === option;
                        }
                    ).includes(false);

                    if(findings) return variant;
                }
            );

            console.log(this.currentVariant);
        }

        updateURL() {
            if(!this.currentVariant) return;
            window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
        }

        updateFormID() {
            const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
            form_input.value = this.currentVariant.id;
        }

        updatePrice() {
            fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
            .then((response) => response.text())
            .then((responseText) => {
                const id = `price-${this.dataset.section}`;
                const html = new DOMParser().parseFromString(responseText, 'text/html');

                const oldPrice = document.getElementById(id);
                const newPrice = html.getElementById(id);

                if(oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
            });
        }
    }

    customElements.define("variant-selector", VariantSelector);
</script>

<script>
    function changeQuantity(amount) {
        const quantityInput = document.querySelector('input[name="quantity"]');
        const currentValue = parseInt(quantityInput.value);

        const newValue = currentValue + amount;

        // Ensure the new value is at least 1
        if (newValue >= 1) {
            quantityInput.value = newValue;
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        try {
            const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,

        pagination: {
            el: '.swiper-pagination'
        },

        navigation: {
            prevEl: '.swiper-button-prev',
            nextEl: '.swiper-button-next'
        }
    })
        } catch(e) {
            console.log('SwiperJS is not defined')
        }
    })
    
</script>



{% schema %}
{
    "name": "Product",
    "blocks": [
        {
            "type": "vendor",
            "name": "Vendor",
            "limit": 1
        },
        {
            "type": "title",
            "name": "Title",
            "limit": 1
        },
    
        {
            "type": "price",
            "name": "Price",
            "limit": 1
        },
        {
            "type": "variant_selector",
            "name": "Variant Selector",
            "limit": 1
        },
        {
            "type": "quantity",
            "name": "Quantity",
            "limit": 1
        },
        {
            "type": "description",
            "name": "Description",
            "limit": 1
        },
        {
            "type": "checkout_buttons",
            "name": "Checkout Buttons",
            "limit": 1
        }
    ]
}
{% endschema %}