 {% assign fusion_menu_linklist = linklists[section.settings.fusion-menu].links %}


<div class="py-8">

{% comment %} Fusion Nav {% endcomment %}

<div class="pb-8 w-screen">
    <div class="bg-[#0f2719] py-5 w-full flex justify-center items-center">
        <h1 class="uppercase text-white text-2xl md:text-5xl  font-medium">
            A fusion of flavours!
        </h1>
    </div>

    

    <div class="flex bg-[#ffb045] py-3">
        <nav class="flex justify-center items-center mx-auto space-x-5 md:space-x-10 font-bold tracking-wide md:px-0 px-8">
               {% for link in linklists.fusion-menu.links %}
                    <div class="relative py-1">
                        <a href="{{ link.url }}" class=" uppercase text-sm font-md text-gray-900 hover:text-gray-500 hover:underline hover:underline-offset-4">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </nav>
    </div>

    {% paginate blog.articles by section.settings.number_of_blog_posts %}
    
        <h1 class="text-center text-3xl py-5">{{ blog.title }}</h1>
        
        <div class="max-w-6xl mx-auto">
            {% if blog.articles.size > 0 %}
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    {% for article in blog.articles %}
                        <div class="w-full py-6 px-3">
                            <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                                {% if article.image %}
                                    <a href="{{ article.url }}">
                                        <img class="w-full h-80 object-cover" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}">
                                    </a>
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
                                {% endif %}

                                <div class="p-4">
                                    <h1 class="text-xl font-medium my-4">{{ article.title }}</h1>

                                    {% if article.excerpt.size > 0 %}
                                        <p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                                    {% else %}
                                        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                                    {% endif %}

                                    <a href="{{ article.url }}" class="font-medium text-blue-600 hover:text-blue-800 my-4 block">{{ section.settings.blog_read_more }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3 class="text-center text-6xl font-medium my-10">Blog coming soon!!!</h3>
            {% endif %}
        </div>

        {% if blog.articles.size > 0 %}
            <div class="max-w-6xl mx-auto">
                {% render 'pagination', pagination: paginate %}
            </div>
        {% endif %}
    {% endpaginate %}
</div>



{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "text",
            "id": "blog_read_more",
            "label": "Read more label",
            "default": "Read more"
        },
        {
            "type": "range",
            "id": "number_of_blog_posts",
            "step": 1,
            "min": 1,
            "max": 6,
            "label": "Blog posts per page",
            "default": 3
        }
    ]
}
{% endschema %}